.flex{
	display: flex;
}
.flex-center{
	display: flex;
	align-items: center;
}
.flex-center-x2{
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-space-btw{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-space-around{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.flex-column-center{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flex-column-space-btw{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.flex-column-space-around{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}