html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input, textarea, button {
  outline: none;
  border: none;
  resize: none; }

html {
  font-size: 10px; }

.flex {
  display: flex; }

.flex-center {
  display: flex;
  align-items: center; }

.flex-center-x2 {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-space-btw {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.flex-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-column-space-btw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.flex-column-space-around {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.sticky {
  position: sticky; }

.static {
  position: static; }

@font-face {
  font-family: 'SFUIText-Bold';
  src: url("../fonts/SFUIText-Bold.woff2") format("woff2"), url("SFUIText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'SFProDisplay-Thin';
  src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("SFProDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Regular';
  src: url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("SFUIText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Semibold';
  src: url("../fonts/SFUIText-Semibold.woff2") format("woff2"), url("SFUIText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SFProText-Regular';
  src: url("../fonts/SFProText-Regular.woff2") format("woff2"), url("SFProText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Light';
  src: url("../fonts/SFUIText-Light.woff2") format("woff2"), url("SFUIText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SFProText-Light';
  src: url("../fonts/SFProText-Light.woff2") format("woff2"), url("SFProText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFProDisplay-Semibold';
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Medium';
  src: url("../fonts/SFUIText-Medium.woff2") format("woff2"), url("SFUIText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Normal';
  src: url("../fonts/Helvetica-Normal.woff2") format("woff2"), url("../fonts/Helvetica-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.container {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden; }

.header {
  width: 100%;
  height: 82px;
  border-bottom: 1px solid #133783;
  background-image: linear-gradient(#4e69a2, #3b5998 50%); }
  .header__left-side {
    height: 100%;
    width: 170px;
    height: 34px; }
    .header__left-side__link {
      width: 100%;
      height: 100%;
      background: url("../img/facebook.png");
      background-position: 0 -49px; }
  .header__right-side {
    align-items: flex-start;
    width: 378px;
    height: 65px;
    margin-top: 1rem; }
    .header__right-side__column {
      height: 100%;
      align-items: flex-start; }
      .header__right-side__column__heading {
        color: #fff;
        font-size: 1.2rem;
        font-family: "Helvetica-Normal"; }
      .header__right-side__column__input {
        box-sizing: content-box;
        width: 142px;
        height: 14px;
        padding: .3rem .3rem .4rem .3rem;
        border: 1px solid #133783; }
      .header__right-side__column__link {
        color: #9cb4d8;
        font-family: "Helvetica-Normal";
        font-size: 1.2rem;
        line-height: 1.6rem; }
      .header__right-side__column__link:hover {
        text-decoration: underline; }
      .header__right-side__column__button {
        width: 36px;
        box-sizing: content-box;
        cursor: pointer;
        color: #fff;
        font-family: "Helvetica-Normal";
        font-size: 1.2rem;
        background-color: #4267b2;
        border: 1px solid #29487d;
        line-height: 1.8rem;
        padding: .2rem .6rem; }
      .header__right-side__column__button:hover {
        background-color: #365899; }
      .header__right-side__column__empty {
        height: 16px;
        width: 142px; }
