body {
  background-color: #e9ebee; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input, textarea, button {
  outline: none;
  border: none;
  resize: none; }

html {
  font-size: 10px; }

.flex {
  display: flex; }

.flex-center {
  display: flex;
  align-items: center; }

.flex-center-x2 {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-space-btw {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.flex-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-column-space-btw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.flex-column-space-around {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.sticky {
  position: sticky; }

.static {
  position: static; }

@font-face {
  font-family: 'SFUIText-Bold';
  src: url("../fonts/SFUIText-Bold.woff2") format("woff2"), url("SFUIText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'SFProDisplay-Thin';
  src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("SFProDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Regular';
  src: url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("SFUIText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Semibold';
  src: url("../fonts/SFUIText-Semibold.woff2") format("woff2"), url("SFUIText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SFProText-Regular';
  src: url("../fonts/SFProText-Regular.woff2") format("woff2"), url("SFProText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Light';
  src: url("../fonts/SFUIText-Light.woff2") format("woff2"), url("SFUIText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SFProText-Light';
  src: url("../fonts/SFProText-Light.woff2") format("woff2"), url("SFProText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFProDisplay-Semibold';
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Medium';
  src: url("../fonts/SFUIText-Medium.woff2") format("woff2"), url("SFUIText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Normal';
  src: url("../fonts/Helvetica-Normal.woff2") format("woff2"), url("../fonts/Helvetica-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Freight';
  src: url("../fonts/Freight-SansBold.woff2") format("woff2"), url("../fonts/Freight-SansBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

.container {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden; }

.header {
  width: 100%;
  height: 62px;
  background-color: #4267b2;
  top: 0;
  z-index: 100; }
  .header__left-side {
    width: 483px;
    height: auto; }
    .header__left-side__img {
      cursor: pointer;
      margin-top: 3px; }
    .header__left-side__input-box {
      border-radius: 5px;
      height: 24px;
      width: 446px;
      background-color: #fff; }
      .header__left-side__input-box__input {
        border-radius: 5px 0 0 5px;
        background-color: transparent;
        height: 100%;
        width: 400px;
        padding-left: .5rem; }
      .header__left-side__input-box__button {
        border-radius: 0 5px 5px 0;
        width: calc(100% - 400px);
        height: 100%;
        background-color: #f5f6f7;
        cursor: pointer; }
  .header__right-side {
    background-color: transparent; }
    .header__right-side__profile-picture {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: red; }
      .header__right-side__profile-picture > img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }
    .header__right-side__text-style {
      text-transform: capitalize;
      color: #fff;
      font-size: 1.2rem;
      font-family: "SFUIText-Regular";
      font-weight: bold;
      cursor: pointer;
      margin-left: 1rem; }
    .header__right-side__line {
      width: 1px;
      height: 18px;
      background-color: #3b5ca0;
      margin-left: 1rem; }
    .header__right-side__logos {
      background-image: url("../img/logined-header-logos.png");
      margin-left: 1rem;
      width: 24px;
      height: 24px;
      opacity: .6;
      cursor: pointer; }
    .header__right-side__friend-request {
      background-position: 0 -892px; }
    .header__right-side__messages {
      background-position: 0 -942px; }
    .header__right-side__notifications {
      background-position: 0 -792px; }
    .header__right-side__help {
      background-position: 0 -992px; }
    .header__right-side__log-out {
      background-position: 0 -842px; }

.navigation {
  width: 100%;
  height: 51px;
  background-color: #fff;
  top: 62px;
  z-index: 100; }
  .navigation__left-side {
    height: 100%;
    width: 615px; }
    .navigation__left-side__item {
      margin-top: 1.4rem;
      cursor: pointer;
      color: #4b4f56;
      font-size: 1.4rem;
      font-family: "SFUIText-Regular";
      padding: 0 1.2rem;
      padding-bottom: 1.85rem;
      text-transform: capitalize;
      box-sizing: border-box; }
      .navigation__left-side__item__active {
        border-bottom: 3px solid #4267b2; }
  .navigation__right-side {
    height: 100%;
    width: 135px; }
    .navigation__right-side__item {
      margin-top: 1.4rem;
      cursor: pointer;
      color: #4b4f56;
      font-size: 1.4rem;
      font-family: "SFUIText-Regular";
      padding-bottom: 1.85rem;
      text-transform: capitalize;
      box-sizing: border-box; }
    .navigation__right-side__img {
      margin-left: .3rem;
      cursor: pointer; }

.main {
  margin-top: 113px;
  width: 100%;
  background-color: #e9ebee; }
  .main__wrapper {
    float: right;
    margin-right: 215px; }
  .main__left-side {
    margin-top: 1.4rem; }
    .main__left-side__profile-picture {
      width: 180px;
      height: 180px;
      background: red; }
      .main__left-side__profile-picture > img {
        width: 100%;
        height: 100%; }
    .main__left-side__list {
      margin-top: 1.2rem;
      width: 180px; }
      .main__left-side__list__item {
        margin-bottom: .2rem;
        padding: .8rem 0 .8rem .8rem;
        width: 100%;
        height: auto;
        cursor: pointer;
        color: #1d2129;
        font-size: 1.4rem;
        font-family: "SFUIText-Medium";
        background-color: inherit;
        border: 1px solid #e9ebee;
        text-transform: capitalize;
        border-radius: 5px; }
        .main__left-side__list__item__active {
          background-color: #f5f6f7;
          border: 1px solid #dddfe2;
          font-family: "SFUIText-Bold"; }
        .main__left-side__list__item:hover {
          background-color: #f5f6f7;
          border: 1px solid #dddfe2; }
    .main__left-side__promote {
      margin-top: 1.4rem; }
      .main__left-side__promote__1st {
        box-sizing: content-box;
        padding: .9rem 1rem;
        background-color: #4267b2;
        color: #fff;
        font-family: "SFUIText-Bold";
        font-size: 1rem;
        display: inline-block; }
      .main__left-side__promote__2nd {
        display: block;
        margin-top: 1rem;
        color: #1d2129;
        font-size: 1.4rem;
        font-family: "SFUIText-Medium"; }
  .main__right-side {
    width: 820px;
    margin-left: 1.2rem; }
    .main__right-side__cover {
      width: 820px;
      height: 305px;
      background: green; }
      .main__right-side__cover > img {
        width: 100%;
        height: 100%; }
    .main__right-side__content {
      width: 100%;
      align-items: flex-start;
      margin-top: 1.2rem; }
      .main__right-side__content__left-side {
        width: 502px; }
        .main__right-side__content__left-side__make-post {
          box-sizing: content-box;
          width: 478px;
          border-radius: 5px;
          border: 1px solid #dddfe2;
          padding: 1rem 1.2rem .8rem 1.2rem;
          background-color: #fff; }
          .main__right-side__content__left-side__make-post__line {
            width: 1px;
            height: 15px;
            background-color: #dddfe2;
            margin: 0 1rem; }
          .main__right-side__content__left-side__make-post__top-text {
            color: #4b4f56;
            font-size: 1.2rem;
            font-family: "SFUIText-Medium";
            cursor: pointer; }
          .main__right-side__content__left-side__make-post__top-buttons {
            background-image: url("../img/make-post-top.png");
            width: 16px;
            height: 16px;
            cursor: pointer; }
          .main__right-side__content__left-side__make-post__top-buttons2 {
            background-image: url("../img/make-post-top2.png");
            width: 16px;
            height: 16px;
            cursor: pointer; }
          .main__right-side__content__left-side__make-post__pen-icon {
            background-position: -17px -465px;
            margin-right: .5rem; }
          .main__right-side__content__left-side__make-post__live-icon {
            background-position: -182px -237px;
            margin-right: .6rem; }
          .main__right-side__content__left-side__make-post__photo-icon {
            background-position: -182px -504px;
            margin-right: .6rem; }
          .main__right-side__content__left-side__make-post__event-icon {
            background-position: -34px -525px;
            margin-right: .6rem; }
          .main__right-side__content__left-side__make-post__big-line {
            width: 100%;
            height: 1px;
            background-color: #dddfe2;
            margin-top: 1rem;
            margin-bottom: 1.4rem; }
            .main__right-side__content__left-side__make-post__big-line__triangle {
              background-color: #fff;
              width: 5px;
              height: 8px;
              bottom: 0;
              left: 50px; }
              .main__right-side__content__left-side__make-post__big-line__triangle__left {
                bottom: 0;
                left: 0;
                background-color: #dddfe2;
                width: 1px;
                height: 8px;
                transform: rotate(30deg); }
              .main__right-side__content__left-side__make-post__big-line__triangle__right {
                bottom: 0;
                right: 0;
                background-color: #dddfe2;
                width: 1px;
                height: 8px;
                transform: rotate(-30deg); }
          .main__right-side__content__left-side__make-post__input-box {
            width: 100%; }
            .main__right-side__content__left-side__make-post__input-box__profile-picture {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin-right: 2.7rem;
              background: red; }
              .main__right-side__content__left-side__make-post__input-box__profile-picture > img {
                border-radius: 50%;
                width: 100%;
                height: 100%; }
            .main__right-side__content__left-side__make-post__input-box__textarea {
              width: calc(100% - 66px);
              height: 45px; }
              .main__right-side__content__left-side__make-post__input-box__textarea::placeholder {
                font-family: "SFUIText-Medium";
                color: #a4a8ae;
                line-height: 43px; }
          .main__right-side__content__left-side__make-post__button-box {
            margin-right: .6rem;
            border-radius: 18px;
            cursor: pointer;
            padding: .7rem 1.3rem .7rem 1rem;
            background-color: #f5f6f7; }
            .main__right-side__content__left-side__make-post__button-box__background {
              width: 20px;
              height: 20px;
              background-image: url("../img/make-post-bottom.png");
              margin-right: .7rem; }
            .main__right-side__content__left-side__make-post__button-box__photo {
              background-position: 0 -863px; }
            .main__right-side__content__left-side__make-post__button-box__tag {
              background-position: 0 -548px; }
            .main__right-side__content__left-side__make-post__button-box__feeling {
              background-position: 0 -485px; }
            .main__right-side__content__left-side__make-post__button-box__dots {
              margin: 0;
              background-position: 0 -1409px; }
            .main__right-side__content__left-side__make-post__button-box__text {
              color: #4b4f56;
              font-family: "SFUIText-Medium";
              font-size: 1.2rem; }
      .main__right-side__content__right-side {
        width: 310px;
        box-sizing: border-box;
        border: 1px solid #dddfe2;
        padding: 1.3rem 1.5rem;
        background-color: #fff;
        border-radius: 5px; }
        .main__right-side__content__right-side__heading-box {
          width: 100%; }
          .main__right-side__content__right-side__heading-box__heading {
            font-family: "SFUIText-Medium";
            color: #000;
            font-size: 1.4rem; }
          .main__right-side__content__right-side__heading-box__link {
            font-size: 1.2rem;
            color: #4267b2;
            font-family: "SFUIText-Medium"; }
            .main__right-side__content__right-side__heading-box__link:hover {
              text-decoration: underline; }
        .main__right-side__content__right-side__row {
          margin-top: 1.8rem; }
          .main__right-side__content__right-side__row__img {
            width: 16px;
            height: 16px;
            margin-right: 1.2rem; }
          .main__right-side__content__right-side__row__text {
            color: #000;
            font-family: "SFUIText-Medium";
            font-size: 1.2rem; }

.post {
  margin-top: 1rem;
  box-sizing: content-box;
  width: 478px;
  border-radius: 5px;
  border: 1px solid #dddfe2;
  background-color: #fff;
  padding: 1rem 1.2rem .8rem 1.2rem;
  position: relative; }
  .post__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: red; }
  .post__author {
    position: absolute;
    top: 17px;
    left: 60px;
    color: #0c53aa;
    font-size: 1.4rem;
    font-family: "SFUIText-Medium";
    text-transform: capitalize;
    cursor: pointer; }
    .post__author:hover {
      text-decoration: underline; }
  .post__time {
    position: absolute;
    left: 60px;
    top: 35px;
    font-size: 1.2rem;
    color: #77777a;
    font-family: "SFUIText-Medium"; }
  .post__content {
    margin-top: 1.2rem;
    color: #000;
    font-family: "SFUIText-Medium";
    font-size: 1.4rem; }

.chat {
  right: 0;
  bottom: 0;
  width: 205px;
  height: calc(100vh - 113px);
  border-left: 1px solid #ccc;
  box-shadow: 1px 0 0 #f0f0f2 inset;
  overflow-y: scroll; }
  .chat__heading {
    padding: .8rem;
    box-sizing: content-box;
    font-size: 1.1rem;
    color: #4a4a4a;
    font-family: "SFUIText-Bold"; }
  .chat__item {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer; }
    .chat__item:hover {
      background-color: #dddfe2;
      box-shadow: 1px 0 0 #eaebed inset; }
  .chat__img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: .8rem;
    background: purple; }
  .chat__name {
    width: 125px;
    margin-left: 8px;
    color: #333;
    font-family: "SFUIText-Medium";
    font-size: 1.2rem;
    line-height: 100%; }
  .chat__active {
    width: 6px;
    height: 6px;
    background-color: #42b72a;
    border-radius: 50%; }
  .chat__messenger {
    width: auto;
    height: auto;
    z-index: 100;
    bottom: 0;
    right: 220px; }
    .chat__messenger__box {
      margin-left: 15px;
      width: 284px;
      height: 350px;
      border-radius: 8px 8px 0 0;
      border-top: 1px solid #dddfe2;
      border-left: 1px solid #dddfe2;
      border-right: 1px solid #dddfe2;
      background-color: #fff;
      position: relative; }
      .chat__messenger__box__profile-picture {
        margin-left: .8rem;
        margin-top: .7rem;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        background: red;
        display: inline-block; }
      .chat__messenger__box__name {
        position: absolute;
        color: #1c1e21;
        font-family: "SFUIText-Bold";
        font-size: 1.3rem;
        left: 45px;
        top: 14px;
        cursor: pointer; }
        .chat__messenger__box__name:hover {
          text-decoration: underline; }
      .chat__messenger__box__close {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-image: url("../img/chat-close.png");
        background-position: 0 -441px;
        cursor: pointer;
        top: 2px;
        right: 2px; }
      .chat__messenger__box__texts {
        position: absolute;
        top: 43px;
        left: 0;
        width: 100%;
        height: 247px;
        border-bottom: 1px solid #dddfe2;
        border-top: 1px solid #dddfe2;
        overflow-y: scroll; }
      .chat__messenger__box__input {
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 58px;
        width: 250px;
        padding-left: .8rem; }
      .chat__messenger__box::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-image: url("../img/message-send.svg");
        background-size: 16px 16px;
        display: inline-block;
        bottom: 16px;
        right: 10px;
        cursor: pointer; }
