//   F O N T S !!!

$sfui-text-medium: 'SFUIText-Medium';
$sfui-text-bold: 'SFUIText-Bold';
$sfui-text-semibold: 'SFUIText-Semibold';
$sfui-text-regular: 'SFUIText-Regular';
$sfui-text-light: 'SFUIText-Light';
$sf-pro-text-light : 'SFProText-Light';
$sf-pro-text-regular: 'SFProText-Regular';
$sf-pro-display-thin: 'SFProDisplay-Thin';
$sf-pro-display-semibold: 'SFProDisplay-Semibold';
$sf-pro-display-regular: 'SFProDisplay-Regular';
$helvetica: 'Helvetica-Normal';
$freight: 'Freight';

//   H E A D E R     U N L O G I N E D

$unlogined-header-background: linear-gradient(#4e69a2, #3b5998 50%);
$unlogined-header-border: 1px solid #133783;
$unlogined-header-input-border: 1px solid #1d2a5b;
$unlogined-forgot-color: #9cb4d8;
$unlogined-header-button-background: #4267b2;
$unlogined-header-button-background-hover: #365899;
$unlogined-header-button-border: 1px solid #29487d;
$unlogined-header-main-text-color: #fff;

//      M A I N   U N L O G I N E D

$unlogined-main-background: #edf0f5;
$unlogined-main-primary-text-color: #333;
$unlogined-main-left-side-secondary-text-color: #666;
$unlogined-main-left-side-registation-border: 1px solid #bdc7d8;
$unlogined-main-birthday-color: #1d2129;
$unlogined-main-select-border: 1px solid #bdc7d8;
$unlogined-link-default-color: #365899;
$unlogined-main-gender-color: #1d2129;
$unlogined-main-rules-color: #777;
$unlogined-main-submit-border: 1px solid #3b6e22;
$unlogined-main-submit-background: linear-gradient(#67ae55, #578843);
$unlogined-main-submit-hover-background:linear-gradient(#79bc64, #578843);
$unlogined-main-submit-color: #fff;
$unlogined-main-submit-text-shadow: 0 1px 2px rgba(0,0,0,.5);
$unlogined-main-right-side-line: #dddfe2;
$Unlogined-main-create-pages-secondary-color: #666;


//      F O O T E R   U N L O G I N E D

$unogined-footer-active-lang-color: #737373;
$unlogined-footer-primary-color: #365899;
$unlogined-footer-more-lang-border: 1px solid #ccd0d5;
$unlogined-footer-more-lang-background: #f5f6f7;
$unlogined-footer-line-color: #dddfe2;
$unlogined-footer-terms-color: #737373;



//    H E A D E R   L O G I N E D

$logined-header-background: #4267b2;
$logined-header-input-box-background: #fff;
$logined-header-input-box-button-background: #f5f6f7;
$logined-header-text-color: #fff;
$logined-header-line-color: #3b5ca0;


//   N A V I G A T I O N    L O G I N E D

$logined-navigation-background: #fff;
$logined-navigation-text-color: #4b4f56;
$logined-navigation-active-border: 3px solid #4267b2;


//   M A I N   L O G I N E D

$logined-main-background-color: #e9ebee;
$logined-main-left-side-list-color: #1d2129;
$logined-main-left-side-list-active-background: #f5f6f7;
$logined-main-left-side-list-border: 1px solid #e9ebee;
$logined-main-left-side-list-active-border: 1px solid #dddfe2;
$logined-main-left-side-promote-1st-background: #4267b2;
$logined-main-left-side-promote-1st-color: #fff;
$logined-main-content-border: 1px solid #dddfe2;
$logined-main-content-background: #fff;
$logined-main-make-post-top-text-color: #4b4f56;
$logined-main-make-post-top-line-color: #dddfe2;
$logined-main-make-post-top-big-line-color: #dddfe2;
$make-post-inpu-placeholder-color: #a4a8ae;
$make-post-bottom-buttons-background: #f5f6f7;
$make-post-bottom-buttons-text-color: #4b4f56;
$logined-main-right-side-primary-color: #000;
$logined-main-right-side-link-color: #4267b2;


// P O S T 

$post-author-color: #0c53aa;
$post-time-color: #77777a;
$post-content-color: #000;


//  C H A T

$chat-border: 1px solid #ccc;
$chat-heading-color: #4a4a4a;
$chat-person-color: #333;
$chat-active-icon-color: rgb(66, 183, 42);
$chat-item-hover-background: #dddfe2;