//   F O N T S !!!

$sfui-text-medium: 'SFUIText-Medium';
$sfui-text-bold: 'SFUIText-Bold';
$sfui-text-semibold: 'SFUIText-Semibold';
$sfui-text-regular: 'SFUIText-Regular';
$sfui-text-light: 'SFUIText-Light';
$sf-pro-text-light : 'SFProText-Light';
$sf-pro-text-regular: 'SFProText-Regular';
$sf-pro-display-thin: 'SFProDisplay-Thin';
$sf-pro-display-semibold: 'SFProDisplay-Semibold';
$sf-pro-display-regular: 'SFProDisplay-Regular';
$helvetica: 'Helvetica-Normal';
$freight: 'Freight';

//   H E A D E R     U N L O G I N E D

$unlogined-header-background: linear-gradient(#4e69a2, #3b5998 50%);
$unlogined-header-border: 1px solid #133783;
$unlogined-header-input-border: 1px solid #1d2a5b;
$unlogined-forgot-color: #9cb4d8;
$unlogined-header-button-background: #4267b2;
$unlogined-header-button-background-hover: #365899;
$unlogined-header-button-border: 1px solid #29487d;
$unlogined-header-main-text-color: #fff;

//      M A I N   U N L O G I N E D

$unlogined-main-background: #edf0f5;
$unlogined-main-primary-text-color: #333;
$unlogined-main-left-side-secondary-text-color: #666;
$unlogined-main-left-side-registation-border: 1px solid #bdc7d8;
$unlogined-main-birthday-color: #1d2129;
$unlogined-main-select-border: 1px solid #bdc7d8;
$unlogined-link-default-color: #365899;
$unlogined-main-gender-color: #1d2129;
$unlogined-main-rules-color: #777;
$unlogined-main-submit-border: 1px solid #3b6e22;
$unlogined-main-submit-background: linear-gradient(#67ae55, #578843);
$unlogined-main-submit-hover-background:linear-gradient(#79bc64, #578843);
$unlogined-main-submit-color: #fff;
$unlogined-main-submit-text-shadow: 0 1px 2px rgba(0,0,0,.5);
$unlogined-main-right-side-line: #dddfe2;
$Unlogined-main-create-pages-secondary-color: #666;


//      F O O T E R   U N L O G I N E D

$unogined-footer-active-lang-color: #737373;
$unlogined-footer-primary-color: #365899;
$unlogined-footer-more-lang-border: 1px solid #ccd0d5;
$unlogined-footer-more-lang-background: #f5f6f7;
$unlogined-footer-line-color: #dddfe2;
$unlogined-footer-terms-color: #737373;



//    H E A D E R   L O G I N E D

$logined-header-main-color: #4267b2;
$logined-header-logo-color: #ffffff;
$logined-header-placeholder-color: #000000;
$logined-header-input-icon-beckgr-color: #f5f6f7;
$logined-header-input-icon-color: #575e6c;
