
.header {
    width: 100%;
    height: 42px;
    background: $logined-header-main-color;

    &__wrapper {
        width: 1012px;
        margin: 0 auto;
    }

    &__container {
        width: 100%;
        height: 42px;
        background: $logined-header-main-color;
    }

    &__logo {
        margin-top: 8px;
        color: $logined-header-logo-color;
        font-size: 25px;
        float: left;
    }

    &__search {
        width: 450;
        height: 42px;
        margin-left: 7px;
        float: left;
        
        &--block {
            width: 448px;
            height: 42px;
        }

        &--input {
            width: 393px;
            margin-top: 9px;
            padding-left: 5px;
            height: 23px;
            float: left;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border: none;
            outline: 0;
            text-transform: capitalize;
        }

        
        ::placeholder {
            color: $logined-header-placeholder-color;
            opacity: 0.4;
        }


        
        &--icon {
            width: 46px;
            height: 23px;
            margin-top: 9px;
            float: left;
            background: $logined-header-input-icon-beckgr-color;
            color: $logined-header-input-icon-color;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
    
        }
    
    
        &__button {
            width: 46px;
            height: 23px;
            border: none;
            outline: 0;
        }
    }


    &__text {
        width: auto;
        height: 42px;
        float: left;
    }

    &__text--list__element { 
        height: 24px;
        line-height: 24px;
        margin-top: 8px;
        padding-left: 12px;
        padding-right: 11px;
        list-style: none;
        float: left;
        color: $logined-header-logo-color;
        font-family: helvetica;
        font-size: 13px;
        font-weight: bold;
        border-right: 1px solid $unlogined-footer-primary-color;
        
    }

    &__text--list__element img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        vertical-align: middle;
        line-height: 24px;
        
    }

    &__notifications {
        width: 108px;
        height: 42px;
        padding-left: 4px;
        padding-right: 5px;
        float: right;

        &--list {
            width: 108px;
            height: 42px;

            &__element {
                width: 36px;
                height: 42px;
            }
        }
    }

    &__settings {
        width: 71px;
        height: 42px;
        padding-left: 4px;
        float: right;
    }
}

