.header{
    width: 100%;
    height: 62px;
    background-color: $logined-header-background;
    top: 0;
    z-index: 100;

    &__left-side{
        width: 483px;
        height: auto;

        &__img{
            cursor: pointer;
            margin-top: 3px;
        }

        &__input-box{
            border-radius: 5px;
            height: 24px;
            width: 446px;
            background-color: $logined-header-input-box-background;

            &__input{
                border-radius: 5px 0 0 5px;
                background-color: transparent;
                height: 100%;
                width: 400px;
                padding-left: .5rem;
            }

            &__button{
                border-radius: 0 5px 5px 0;
                width: calc(100% - 400px);
                height: 100%;
                background-color: $logined-header-input-box-button-background;
                cursor: pointer;
            }
        }
    }

    &__right-side{
        background-color: transparent;

        &__profile-picture{
            width: 24px;
            height: 24px;
            border-radius: 50%;

            & > img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        &__text-style{
            text-transform: capitalize;
            color: $logined-header-text-color;
            font-size: 1.2rem;
            font-family: $sfui-text-regular;
            font-weight: bold;
            cursor: pointer;
            margin-left: 1rem;
        }

        &__line{
            width: 1px;
            height: 18px;
            background-color: $logined-header-line-color;
            margin-left:1rem;
        }

        &__logos{
            background-image: url("../img/logined-header-logos.png");
            margin-left: 1rem;
            width: 24px;
            height: 24px;
            opacity: .6;
            cursor: pointer;
        }

        &__friend-request{
            background-position: 0 -892px;
        }

        &__messages{
            background-position: 0 -942px;
        }

        &__notifications{
            background-position: 0 -792px;
        }

        &__help{
            background-position: 0 -992px;
        }

        &__log-out{
            background-position: 0 -842px;
        }
    }
}